/*
graceUI.wxss [ graceUI 为收费 UI 框架，此处只包含一小部分使用到的 ]
link : graceui.hcoder.net
author : 5213606@qq.com 深海
verson : 1.1.1
*/
/* 通用样式 */
view{font-size:28upx;}
.grace-padding{padding:2%; width:96%;}
.grace-common-bg{background:#F8F8F8;}
.grace-noborder{border:0 !important;}
.grace-left-padding-wrap{width:96%; padding:12upx 0; padding-left:4%; overflow:hidden; background:#FFFFFF;}
.grace-left-padding-wrap .grace-list{border-bottom:1upx solid #D1D1D1; padding-left:0;}
.grace-left-padding-wrap .grace-list view text{color:#666; font-size:28upx;}

/* 栅格布局 */
.grace-flex{display:flex !important;}
.grace-rows{display:flex; flex-direction:row !important;}
.grace-columns{display:flex; flex-direction:column !important;}
.grace-wrap{display:flex; flex-wrap:wrap;}
.grace-nowrap{display:flex; flex-wrap:nowrap !important;}
.grace-space-between{display:flex; justify-content:space-between !important;}

.grace-tab{padding:0;}
.grace-view-tab{
  display: flex;
}
.grace-tab-title{white-space:nowrap; text-align:center; background:#FFFFFF;margin-top: 12upx;height: 95upx;}
.grace-tab-title view{flex:1;width:auto;  margin:0 8px; color:#9B9B9B;line-height:95upx;  text-align:center; border-bottom:2px solid #FFFFFF;}
.grace-tab-title view:first-child{margin-left: 0;}
.grace-tab-title view:last-child{margin-right: 0;}
.grace-tab-current text{display:inline-block;line-height: 85upx;border-bottom:6upx solid #3B8FD1 !important; color:#3B8FD1!important;box-sizing: border-box;}

/* 新闻列表 */
.grace-news-list > navigator{display:block; width:100%; padding:12upx 0; margin:12upx 0;}
.grace-news-list-items{width:94%; padding: 0 3%!important;display:flex; flex-wrap:nowrap; position:relative;background: #fff;}
.grace-news-list-img{width:200upx; flex-shrink:0;}
.grace-news-list-title{width:100%; overflow:hidden;}
.grace-news-list-title-main{ font-size:32upx; 
  max-width:70%;
  display: inline-block;
  line-height: 45upx;
  color: rgba(56, 70, 110, 1);
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;}
.grace-news-list-title-desc{font-size:24upx; display:block; color:#666; margin-top:22upx;display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 48upx;
}
.grace-news-list-info{ width:100%;flex:1; margin-top:10upx; line-height:36upx; font-size:24upx; color:#666; justify-content:space-between;padding-left: 14upx;box-sizing: border-box;overflow: hidden;}
.grace-news-list-info view{font-size:24upx; color:#666;}
.grace-news-list-info text{font-size:24upx; }
.grace-news-list-info text.btn{
  position: relative;
  top:0;
  display: inline-block;
  font-size:22upx; 
  color: rgba(59, 143, 209, 1);
  width: 124upx;
  height: 36upx;
  border-radius: 18upx;
  text-align: center;
  line-height: 36upx;
  border: 1px solid rgba(59, 143, 209, 1);}
.grace-news-list-img-news{width:100%; flex-wrap:wrap; display: flex; padding: 40upx 0 20upx;}
.grace-news-list-imgs{justify-content:space-between; width:100%; display:flex; margin:18upx 0; align-items:flex-start;}
.grace-news-list-imgs image{width:31.3%; margin:0 1%;}
.grace-news-list-img-big{ width: 105px;height: 98px;position: relative;}
.grace-news-list-img-big image.img{width:100%;height: 100%!important;border-radius:4upx;}
.grace-news-list-img-big image.icon_magnifier{position: absolute;top:0;right:0;z-index:1;width: 45upx;height:44upx;}
